/*Contacto*/
#titular-imagen-contacto{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

#datos-cliente{
    display: flex;
    flex-direction: column;
}