/*------------------------------------*/
/*A partir de aquí apareceran las partes que correspondan con flex o grid*/
/*------------------------------------*/

/*Partes que corresponden a elementos que están en varias partes de la página*/

/*el .encabezado es aplicable en header y footer*/
.encabezado {
    display: flex;
    justify-content: space-between;
  
    .logo {
        display: flex;
        align-items: center;
    }
}

/*Aplica a los CTA de toda la página*/
.boton-contacto{
    display: flex;
    align-self: center;
}

/*En la pagina de home, en el main y footer*/
.formas_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }