/*Página sobre la psicológa*/

#valores-psicologa{
    display: flex;
    flex-direction: column;
    align-items: center;
    .valores-contenedor .valor{
        display: flex;
        align-items: center;
    }
}

#sesiones{
    @include mixin-media-query-MAX(m-g){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}