@use "sass:map";

/*Primero los estilos que afectan a varias partes de la página*/
*{
    font-family: $fuente-principal, $fuente-texto, 'sans-serif';
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $blanco;
}

/*media-query para dejar margenes laterales cuando la resolución de pantalla es muy ancha*/
@include mixin-media-query-MIN(xg){
  header,
  main,
  #contenedor-footer {
    width: 1400px;
    margin: 0 auto;
  }
  body::after {
    /*posiciono una linea horizontal que ocupe todo el ancho del body y que esté exactamente a la misma altura del border-top del navbar del menú de escritorio. De otra forma se notarían los márgenes añadidos*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $negro;
    position: absolute;
    top: 135.5px;
  }
  /*Hago lo mismo con el border-botton del navbar del menú de escritorio*/
  body::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $negro;
    position: absolute;
    top: 187.5px;
  }
}

/*partes específicas del encabezado, recordando que está tanto en el header como en el footer*/
.encabezado{
  margin: 1rem;

  @include mixin-media-query-MIN(m-g){
    & {
      margin: 1rem 2rem;
    }
  }

  .logo{
    .imagen-logo {
      max-width: 100px;
      min-width: 50px;
      height: auto;

      #logo-diurno, 
      #logo-nocturno {
        max-width: 100%;
        height: auto;
      }
    }

    .texto-logo {
      color: $verde;
      font-weight: bold;

      p {
        margin: 0;
        padding-bottom: 0.5rem;
      }
    }
  }
  .boton-contacto{
    margin: 0 1rem;
  }
}

/*Aplicable a todos los botones CTA de la página*/
.boton-contacto {
  height: fit-content;
  border: none;
  padding: 1rem 2rem;
  background-color: $azul-claro;
  border-radius: 32px;
  cursor: pointer;

  &:active,
  &:hover {
  transition: 0.2s all;
  transform: scale(1.1);
  }
  a{
    text-decoration: none;
    color: $negro;
    font-family: $fuente-texto;
  }
}

/*textos y títulos de la página*/
.texto {
  font-family: $fuente-texto, "sans-serif", $fuente-principal;
}
.titulo {
  font-size: larger;
}
/*Todos lo .titulos verdes menos algunos del carrusel*/
section h5, 
article h5{
  color: $verde;
}

/*Lo ssubtitulos de terapias y psicologa*/
.subtitulo {
  color: $azul-oscuro;
  font-size: medium;
}

/*En la página de home, en el main y footer*/
.formas_contacto {
  padding-bottom: 3rem;
}

.telefono {
  text-decoration: none;
  font-weight: bold;
}

.telefono:active {
  color: #afe4f3;
}

/*------------------------------------*/
/*Estilos por partes específicas de las páginas*/
/*Header, común a todas las páginas*/
@include mixin-media-query-MIN(m){
  header .encabezado .logo .texto-logo p{
    padding-left: 1rem;
    font-size: x-large;
  }
}
@include mixin-media-query-MIN(m-g){
  header .encabezado .logo .texto-logo p {
   font-size: xx-large;
  }
}
  /*Menú para móvil*/
  @include mixin-media-query-MAX(m){
    #hamburguesa-navbar{
      position: absolute;
      background-color: $verde;
      height: 50px;
      width: 50px;
      cursor: pointer;
      transition: 0.3s;
      z-index: 9999;

      span{
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: #fafafa;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*para centrar el icono*/
        transition: 0.3s;

        &::before{
          @include posicion-palitos-hamburguesa("before");
        }

        &::after{
          @include posicion-palitos-hamburguesa("after");
        }
      }
    }
    #hamburguesa-navbar.active{
      span{
        background-color: transparent;
        &::before{
          top: 0;
          transform: rotate(45deg);
        }
        &::after{
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }

    #navbar{
      position: absolute;
      transform: translateX(-100%); /*para que no se vea el menu*/
      transition: 0.5s all;
      background-color: $azul-claro;
      z-index: 1;

      .menu{
        width: 100%;
        a{
          text-decoration: none;
          color: $azul-oscuro;
          display: block;
          padding: 1rem 2rem 1rem 5rem;
          text-align: right;

          &:active{
            background-color: $verde;
            font-weight: bold;
            color: $blanco;
          }
        }
      }
    }
    #navbar.active{
      transform: translateX(0);/*para que se vea el menu*/
    }
  }
  /*Fin menú para móvil*/

  /*Menú para tablet*/
  @include mixin-media-query-Min-Max(m, g){
    #navbar{
      border-top: $borde-superior;
      border-bottom: $borde-superior;

      #nav-terapias {
        border-bottom: $azul-oscuro dashed 1px;
      }

      .menu {
        padding: 1rem;

        a {
          @include formato-enlaces-headersGrandes;
          padding-left: 1rem;

          &:active {
            color: $verde;
          }
        }
      }
    }
  }
  /*Fin menú para tablet*/

  /*Menú para escritorio*/
  @include mixin-media-query-MIN(g){
    #navbar{
      border-top: $borde-superior;
      border-bottom: $borde-superior;
      padding: 1rem 0 1rem 2rem;

      .menu{
        a {
          @include formato-enlaces-headersGrandes;
          margin-right: 2rem;

          &:hover {
              transition: 0.3s;
              color: #31c5b7;
              scale: 1.1;
            }
          &:active {
              color: #065f88;
            }
        }
      }
    }
  }
  /*Fin menú escritorio*/
/*Fin header*/

/*Footer, común a todas las páginas*/
footer {
  background-color: $azul-oscuro;

  #contenedor-footer{
    .encabezado{
      padding-top: 1rem;
      
      .logo {
        .texto-logo{
          padding-left: 1rem;

          @include mixin-media-query-MIN(m-g){
            p{
              font-size: x-large;
            }
          }
          @include mixin-media-query-MIN(xg){
            p{
              font-size: xx-large;
            }
          }
        }
      }
    }
    #contacto-footer{
      .formas_contacto{
        .calle,
        .telefono{
          color: $verde;
        }
      }
      .redes a img{
        max-width: 50px;
        height: auto;
      }

      @include mixin-media-query-MIN(m){
        .formas_contacto .telefono:hover {
          transition: 0.5s;
          color: #afe4f3;
          font-weight: bold;
        }
        
        .redes a img:hover {
          transition: 0.5s;
          transform: scale(1.5);
        }
      }
    }

    section{
      margin: 1rem;
    }
  }
}
/*fin footer*/

/*Main del HOME*/
/*Para el menú del móvil uso posición absoluta, necesito que el main se desplace y deje un espacio arriba equivalente al espacio de #hamburguesa-navbar*/
@include mixin-media-query-MAX(m){
  main {
    padding-top: 50px;
  }
}

/*Carrusel*/
#carrusel-y-botones{
  overflow: hidden;

  #carrusel {
    width: 100%;
    height: 60vh;
    transition: transform 0.5s ease-in-out;

    .diapositiva {
      min-width: 100%;
      box-sizing: border-box;
      background-size: cover;
      background-position: center;

      /*Imágenes de fondo*/
      @include mixin-media-query-MAX(p){
        @include imagenes-carrusel($imagenes-carrusel-movil);
      }
      @include mixin-media-query-MIN(p){
        @include imagenes-carrusel($imagenes-carrusel-tablet);
      }
      @include mixin-media-query-MIN(m-g){
        @include imagenes-carrusel($imagenes-carrusel-escritorio);
      }


      /*modifico cómo se ve el contenido en las diapositivas pares e impares*/
      &:nth-child(odd) {
        .contenido{
          background-color: $azul-oscuro;
        }
        h5{
          color: $verde;
        }
        p{
          color: $azul-claro;
        }
      }

      &:nth-child(even) {
        .contenido{
          background-color: $verde;
        }
        h5{
          color: $azul-oscuro;
        }
        p{
          color: $blanco;
        }

      }

      .contenido {
        margin: 1rem;
        padding: 1rem;
        text-align: center;
        border-radius: 32px;
        width: 50%;

        @include mixin-media-query-MIN(m){
          & {
            width: 30%;
          }
        }
        .titulo {
          font-weight: bold;
        }
        .boton-contacto {
          margin: 0 auto;
        }
      }
    }
  }
  #botones-navegacion-carrusel {
    position: relative;
    top: -50px;

    .nav-button {
      background-color: #2ab0a3;
      color: $azul-claro;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;

          
    &:hover {
      background-color: $azul-claro;
      color: $verde;
    }
    }
  }
}
/*Fin parte carrusel*/
/*Parte de terapeuta del home*/
#terapeuta-home {
  margin: 2rem;

  h5 {
    color: $verde;
    font-size: larger;
  }

  #texto_terapeuta_home p {
    text-align: center;
    padding: 1rem;
    font-family: "Lexend", "sans-serif", "Comfortaa";
    color: #065f88;
  }

  /*para pantallas medianas y grandes*/
@include mixin-media-query-MIN(m-g){
  picture {
    padding-left: 1rem;
  }
  h5 {
    color: #31c5b7;
    font-size: large;
    margin-bottom: 0;
    text-align: center;
  }
  #texto_terapeuta_home {
    padding: 0 2rem;
  }
  button {
    margin: 0 auto;
  }
}
}
/*fin parte terapeuta del home*/

/*Contacto del home*/
#contactos_home {
  margin: 2rem;

  h5 {
    color: $verde;
    font-size: larger;
  }

  .formas_contacto p,
  .formas_contacto a {
    color: $azul-oscuro;
  }

  button {
    margin-bottom: 1rem;
    /*oculto el boton del apartado de contacto cuando es una pantalla de movil*/
    @include mixin-media-query-MAX(m-g){
      & {
        display: none;
      }
    }
  }

  #mapa_home {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
/*Fin contacto del home*/
/*Fin main HOME*/

/*Main de TERAPIAS*/
#presentacion-terapias{
  margin: 2rem;
  margin-bottom: 3rem;
  .titulo{
    text-align: center;
  }
  .texto{
    text-align: justify;
  }
  ul li {
    font-family: $fuente-texto;
    a{
      font-family: $fuente-texto;
      text-decoration: none;
      font-weight: bold;
      color:$verde;
    }
  }
  .boton-contacto{
    margin: 0 auto;
  }
}

#total-terapias{
  margin: 2em;
  .terapia{
    .titulo{
      text-align: center;
      margin-top: 3rem;
      }
    .subtitulo{
      text-align: center;
      margin-top: 0;
    }
    img{
      max-width: 325px;
      height: auto;
    }
    .texto{
      margin: 2rem 0;
    }
    .afecciones-relacionadas{
      border-left: $negro dotted 1px;
      p{
        text-align: center;
        font-family: $fuente-texto;
        padding-top: 1rem;
      }
    }
    .boton-contacto{
      margin: 3rem;
    }
    /*Parte responsiva para pantallas medianas y grandes*/
    @include mixin-media-query-MIN(m){
      &{
        border: $verde solid 2px;
        border-radius: 20px;
        .rotulo{
          .titulo{
            font-size: x-large;
          }
        }
        img{
          margin: 0 auto;
          max-width: 325px;
        }
        .parrafo{
          margin-top: 3rem;
          margin-bottom: 0;
        }
        .caja-afecciones{
          .afecciones-relacionadas{
            width:fit-content;
            margin: 0 auto;
          }
        }
        .boton-contacto{
          width: fit-content;
          margin: 2rem auto;
          align-self: start;
        }        
      }
    }
  }
}
/*Fin main TERAPIAS*/

/*Main de PSICÓLOGA*/
#valores-psicologa{
  background-color: $verde;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .valores-contenedor{
    margin-bottom: 2rem;
    .subtitulo{
      font-size: larger;  
    }
    .valor{
      border-left: $azul-claro dashed 2px;
      padding: 1rem;

      img{
        max-width: 100%;
        height: auto;
        border-radius: 50%;
      } 
    }
  }
}

#sesiones{
  margin: 2rem;
  padding-bottom: 2rem;

  #proceso-terapeutico{
    p span{
      font-family: $fuente-texto;
      font-weight: bold;
      color: $verde;
    }
    ol{
      margin-bottom: 3rem;
      li{
        font-family: $fuente-texto;
        padding-bottom: 1rem;
      }
    }
  }
  .imagen{
    padding-bottom: 3rem;
  }
}
/*Fin main PSICÓLOGA*/

/*Main de CONTACTO*/
input,
textarea{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}
textarea{
  width: 100%;
  overflow:hidden;
  resize: none;/*Lo voy a hacer con js, así que lo desactivo aquí*/
}
fieldset{
  border: none;
  padding: 1rem;
}
#formulario-contacto{
  margin: 2rem;
  #titular-imagen-contacto{
    img{
      max-width: 100px;
    }
  }
  form{
    background-color: $verde;
    padding: 1rem;
    border-radius: 20px;
    #primera-parte-formulario{
      #datos-cliente{
        #edad{
          width: 50px;
        }
      }
    }
  }
}

