/*Colores*/
$blanco: #fafafa;
$verde: #31c5b7;
$azul-claro: #afe4f3;
$azul-oscuro: #065f88;
$negro:#031a03;

/*Fuentes*/
$fuente-principal: 'Comfortaa';
$fuente-texto: 'Lexend';

/*Rupturas*/
$ruptura: (
    p:500px,
    m:768px,
    m-g:1000px,
    g:1279px,
    xg:1400px
);