/*Colores*/
$blanco: #fafafa;
$verde: #31c5b7;
$azul-claro: #afe4f3;
$azul-oscuro: #065f88;
$negro:#031a03;

/*Fuentes*/
$fuente-principal: 'Comfortaa';
$fuente-texto: 'Lexend';

/*Imágenes del carrusel del home según su tamaño*/
$imagenes-carrusel-movil:(
    ansiedad: "../imagenes/ansiedad-movil.webp",
    depresion: "../imagenes/depresion-movil.webp",
    sexual: "../imagenes/sexual-movil.webp",
    pareja: "../imagenes/pareja-movil.webp"
);

$imagenes-carrusel-tablet:(
    ansiedad: "../imagenes/ansiedad-tablet.webp",
    depresion: "../imagenes/depresion-tablet.webp",
    sexual: "../imagenes/sexual-tablet.webp",
    pareja: "../imagenes/pareja-tablet.webp"
);

$imagenes-carrusel-escritorio:(
    ansiedad: "../imagenes/ansiedad-escritorio.webp",
    depresion: "../imagenes/depresion-escritorio.webp",
    sexual: "../imagenes/sexual-escritorio.webp",
    pareja: "../imagenes/pareja-escritorio.webp"
);