* {
  font-family: "Comfortaa", "Lexend", "sans-serif";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

header {
  background-color: #fafafa;
}
.encabezado {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.encabezado .logo {
  display: flex;
  align-items: center;
}

.imagen-logo {
  width: 40%;
  height: auto;
}

#logo-diurno {
  width: 100%;
  height: auto;
}

.texto-logo {
  color: #31c5b7;
}

.boton-contacto {
  height: fit-content;
  border: none;
  padding: 1rem 2rem;
  background-color: #31c5b7;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.encabezado button {
  margin: 0 1rem;
}

.boton-contacto:active,
.boton-contacto:hover {
  transition: 0.2s all;
  transform: scale(1.1);
}

/*menu solo para movil*/
@media screen and (max-width: 768px) {
  main {
    padding-top: 50px;
  }

  #hamburguesa-navbar {
    position: absolute;
    background-color: #31c5b7;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
  }

  #hamburguesa-navbar span {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  #hamburguesa-navbar span:before {
    content: "";
    position: absolute;
    top: -8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
  }

  #hamburguesa-navbar span:after {
    content: "";
    position: absolute;
    top: 8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
  }

  #hamburguesa-navbar.active span {
    background-color: transparent;
  }

  #hamburguesa-navbar.active span:before {
    top: 0;
    transform: rotate(45deg);
  }

  #hamburguesa-navbar.active span:after {
    top: 0;
    transform: rotate(-45deg);
  }

  #navbar {
    position: absolute;
    transform: translateX(-100%);
    transition: 0.5s all;
    background-color: #afe4f3;
  }

  #navbar .menu {
    width: 100%;
  }

  #navbar.active {
    transform: translateX(0);
  }

  #navbar .menu a {
    text-decoration: none;
    color: #065f88;
    display: block;
    padding: 1rem 2rem 1rem 5rem;
    transition: 0.5s;
    text-align: right;
  }

  #navbar .menu a:active {
    background-color: #31c5b7;
    font-weight: bold;
    color: #fafafa;
    font-size: larger;
  }
}
/*fin menu movil*/
/*MENU TABLET*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #navbar {
    border-top: #031a03 solid 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #nav-terapias {
    border-bottom: #065f88 dashed 1px;
  }
  .menu {
    padding: 1rem;
  }

  .menu a {
    text-decoration: none;
    color: #031a03;
    padding-left: 1rem;
    font-weight: bold;
  }
  .menu a:active {
    transition: 0.2s;
    color: #31c5b7;
    font-size: large;
  }
}

/*menu de escritorio*/
@media screen and (min-width: 1279px) {
  #navbar {
    border-top: #031a03 solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
  }

  .menu {
    display: flex;
    flex-wrap: nowrap;
  }
  .menu a {
    text-decoration: none;
    color: #031a03;
    font-weight: bold;
    margin-right: 2rem;
  }
  .menu a:hover {
    transition: 0.3s;
    color: #31c5b7;
    font-size: larger;
  }
  .menu a:active {
    color: #065f88;
  }
}
/*fin menu escritorio*/

/*Parte del carrusel*/
#carrusel {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-top: #031a03 solid 1px;
}

.diapositiva {
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
}

.contenido {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.contenido .titulo {
  font-weight: bold;
}

.contenido .boton-contacto {
  margin: 0 auto;
  border: #afe4f3 solid 1px;
}

.texto {
  font-family: "Lexend", "sans-serif", "Comfortaa";
}
.titulo {
  font-size: larger;
}

.diapositiva:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.diapositiva:nth-child(odd) h5 {
  color: #31c5b7;
}
.diapositiva:nth-child(odd) p {
  color: #afe4f3;
}
.diapositiva:nth-child(even) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.diapositiva:nth-child(even) h5 {
  color: #065f88;
}
.diapositiva:nth-child(even) p {
  color: #fafafa;
}
.diapositiva:nth-child(even) .boton-contacto {
  background-color: #afe4f3;
}
/*fin carrusel*/

/*Parte de terapeuta*/
#terapeuta-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
@media (min-width: 768px) {
  #terapeuta-home {
    display: grid;
    grid-template-areas: "foto titulo" "foto texto" "foto cta";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  #terapeuta-home .imagen_terapeuta {
    grid-area: foto;
    padding: 1rem;
  }
  #terapeuta-home h5 {
    grid-area: titulo;
    color: #31c5b7;
    font-size: larger;
  }
  #terapeuta-home #texto_terapeuta_home {
    grid-area: texto;
    padding: 1rem;
  }
  #terapeuta-home button {
    grid-area: cta;
  }
}
#terapeuta-home h5 {
  color: #31c5b7;
  font-size: larger;
}

.imagen_terapeuta {
  width: 50%;
  height: auto;
}

#texto_terapeuta_home p {
  text-align: center;
  padding: 1rem;
  font-family: "Lexend", "sans-serif", "Comfortaa";
  color: #065f88;
}

/*fin terapeuta*/

/*Parte de contacto*/
#contactos_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#contactos_home h5 {
  color: #31c5b7;
  font-size: larger;
}

.formas_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
#contactos_home .formas_contacto p,
#contactos_home .formas_contacto a {
  color: #065f88;
}
.telefono {
  text-decoration: none;
  font-weight: bold;
}

.telefono:active {
  color: #afe4f3;
}

#contactos_home button {
  margin-bottom: 1rem;
}

/*oculto el boton del apartado de contacto cuando es una pantalla de movil*/
@media (max-width: 768px) {
  #contactos_home button {
    display: none;
  }
}

#mapa_home {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

#mapa_home iframe {
  width: 100%;
  height: 100%;
}

/*fin contacto*/

/*footer*/
footer {
  background-color: #065f88;
}
#logo-nocturno {
  width: 100%;
  height: auto;
}
#contacto-footer .formas_contacto p,
#contacto-footer article a {
  color: #31c5b7;
}

footer section {
  margin: 1rem;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.redes a img {
  max-width: 50px;
  height: auto;
}

/*
#navbar{
    border-top: #031a26 solid 1px;
}
.menu{
    margin: 0;
    /*padding: 14px 12px;
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
}

.menu a{
    white-space: nowrap;
    flex: 1;
    text-decoration: none;
    color: #031a26;
    font-size: 1.15rem;
    font-weight: 300;
    padding: 18px 14px;
}

#nav-terapias{
    /*display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 1rem;
    border-bottom: #31c5b7 dashed 1px;
}

#nav-terapias a{
    
    align-self: end;
}

#nav-psicologa{
    justify-content: space-between;
}
*/

/*

header #navbar {
    border-top: #031a26 solid 1px;
    display: flex;
    justify-content: space-between;
}

header #navbar ul.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 14px 12px;
}

/*header #navbar .region-izquierda ul.menu {
    padding-right: 10%;
    padding-left: 5%;
}

header #navbar .region-derecha ul.menu {
    padding-left: 20%;
}

header #navbar ul.menu li {
    padding: 0 1.5vw;
}

header #navbar ul.menu li a {
    text-decoration: none;
    position: relative;
    color: #031a26;
    font-size: 1.15rem;
    font-weight: 300;
}

header #navbar ul.menu li a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 0;
    padding: 0 3px;
    border: 1px solid #31c5b7;
    opacity: 0;
    transition: 0.2s all;
    box-sizing: border-box;
}

header #navbar ul.menu li a:hover::after {
    bottom: -3px;
    opacity: 1;
}

main {
    flex: 5;
    background-color: #f9fafa;
}

main #carousel {
    width: 100%;
    position: relative;
    background-color: #065f88;
}

main #carousel .diapositivas .diapositiva {
    background: url("imagenes/ansiedad-home.jpg") 0 0 no-repeat;
    background-size: contain;
    position: relative;
}

main #carousel .diapositivas .diapositiva .fondo {
    width: 100%;
    visibility: hidden;
}

main #carousel .diapositivas .diapositiva .fondo img {
    width: 100%;
}

main #carousel .diapositivas .diapositiva .contenido {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #carousel .diapositivas .diapositiva .contenido .titulo h5 {
    margin: 0 0 40px;
    font-size: 1.75rem;
    color: #30c5b6;
}

main #carousel .diapositivas .diapositiva .contenido .texto {
    padding: 0 100px;
    margin-bottom: 40px;
    color: #afe4f3;
}

.texto p {
    font-family: "Lexend", sans-serif;
}

main #carousel .diapositivas .diapositiva .contenido .cta button.boton-contacto {
    font-size: 1rem;
    border: none;
    padding: 12px 24px;
    background-color: #31c5b7;
    border-radius: 32px;
    cursor: pointer;
}

main #carousel .indicadores {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

main #carousel .indicadores .contenido {
    padding: 18px 0;
}

main #carousel .indicadores ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

main #carousel .indicadores ul li {
    padding: 0 4px;
    cursor: pointer;
}

main #carousel .indicadores ul li.activo {}

main #carousel .indicadores ul li img {
    width: 24px;
}

main #terapeuta_home {}

main #terapeuta_home .contenedor {
    padding: 12%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 17% 83%;

}

main #terapeuta_home .contenedor .imagen {
    grid-area: 1 / 1 / span 2 / span 1;
    padding: 0 12px;
}

main #terapeuta_home .contenedor .imagen img {
    max-width: 75%;
    height: auto;
}

main #terapeuta_home .titulo {
    font-size: 1.75rem;
    color: #30c5b6;
    text-align: center;
    display: flex;
    align-items: center;
}

main #terapeuta_home .titulo h5 {
    margin: 0 auto;
}

main #terapeuta_home #texto_terapeuta_home .cta {
    text-align: center;
}

main #terapeuta_home #texto_terapeuta_home .cta button.boton-contacto {
    margin-top: 25px;
}

main #contactos_home {}

main #contactos_home .contenedor {
    padding: 12%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 17% 83%;
}

main #contactos_home .contenedor #texto_contacto_home .titulo {
    font-size: 1.75rem;
    color: #30c5b6;
    text-align: center;
    align-items: center;
}

main #contactos_home .contenedor #texto_contacto_home .titulo h5 {
    margin: 0 auto;
}

main #contactos_home .contenedor #texto_contacto_home .cta {
    text-align: center;
}

main #contactos_home .contenedor #texto_contacto_home .cta button.boton-contacto {
    margin-top: 25px;
}

main #contactos_home .contenedor #texto_contacto_home .formas_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: #065f88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 12px;
}

footer #logo-footer,
footer #contacto-footer,
footer #cta-footer {
    flex: 1;
}

footer #logo-footer .contenedor {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

footer #logo-footer .contenedor .logo img {
    width: 8.5vw;
    height: auto;
}

footer #logo-footer .contenedor .titulo-header {
    color: #31c5b7;
    padding-left: 24px;
    font-size: 1.5rem;
}

footer #logo-footer .contenedor .titulo-header>div:last-child {
    text-align: center;
}

footer #contacto-footer {
    text-align: center;
    font-size: 1.3rem;
}

footer #contacto-footer,
footer #contacto-footer a {
    color: #30c5b6;
    text-decoration: none;
}

footer #contacto-footer .calle,
footer #contacto-footer .telefono,
footer #contacto-footer .redes {
    margin-bottom: 10px;
}

footer #contacto-footer .redes {
    display: flex;
    justify-content: space-between;
}

footer #contacto-footer .redes>article:first-child {
    text-align: right;
}

footer #contacto-footer .redes>article:last-child {
    text-align: left;
}

footer #contacto-footer .redes img {
    max-width: 35%;
}

footer #cta-footer .contacto {
    text-align: center;
}

.boton-contacto {
    font-size: 1.2rem;
    border: none;
    padding: 12px 24px;
    background-color: #31c5b7;
    border-radius: 32px;
    cursor: pointer;
}

.boton-contacto:hover {
    transition: 0.2s all;
    transform: scale(1.1);
}*/
