* {
  font-family: "Comfortaa", "Lexend", "sans-serif";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

header {
  background-color: #fafafa;
}
.encabezado {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1000px) {
  .encabezado {
    margin: 1rem 2rem;
  }
}
.encabezado .logo {
  display: flex;
  align-items: center;
}

.imagen-logo {
  width: 30%;
  height: auto;
}

#logo-diurno {
  max-width: 80%;
  min-width: 50%;
  height: auto;
}

.texto-logo {
  color: #31c5b7;
  font-size: smaller;
}
.texto-logo p {
  margin: 0;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .texto-logo {
    font-size: x-large;
  }
}

.boton-contacto {
  height: fit-content;
  border: none;
  padding: 1rem 2rem;
  background-color: #31c5b7;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.encabezado button {
  margin: 0 1rem;
}

.boton-contacto:active,
.boton-contacto:hover {
  transition: 0.2s all;
  transform: scale(1.1);
}

/*menu solo para movil*/
@media screen and (max-width: 768px) {
  main {
    padding-top: 50px;
  }

  #hamburguesa-navbar {
    position: absolute;
    background-color: #31c5b7;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
  }

  #hamburguesa-navbar span {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para centrar el icono*/
    transition: 0.3s;
  }

  #hamburguesa-navbar span:before {
    content: "";
    position: absolute;
    top: -8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
  }

  #hamburguesa-navbar span:after {
    content: "";
    position: absolute;
    top: 8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
  }

  #hamburguesa-navbar.active span {
    background-color: transparent;
  }

  #hamburguesa-navbar.active span:before {
    top: 0;
    transform: rotate(45deg);
  }

  #hamburguesa-navbar.active span:after {
    top: 0;
    transform: rotate(-45deg);
  }

  #navbar {
    position: absolute;
    transform: translateX(-100%); /*para que no se vea el menu*/
    transition: 0.5s all;
    background-color: #afe4f3;
  }

  #navbar .menu {
    width: 100%;
  }

  #navbar.active {
    transform: translateX(0); /*para que se vea el menu*/
  }

  #navbar .menu a {
    text-decoration: none;
    color: #065f88;
    display: block;
    padding: 1rem 2rem 1rem 5rem;
    text-align: right;
  }

  #navbar .menu a:active {
    background-color: #31c5b7;
    font-weight: bold;
    color: #fafafa;
  }
}
/*fin menu movil*/
/*MENU TABLET*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #navbar {
    border-top: #031a03 solid 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #nav-terapias {
    border-bottom: #065f88 dashed 1px;
  }
  .menu {
    padding: 1rem;
  }

  .menu a {
    text-decoration: none;
    color: #031a03;
    padding-left: 1rem;
    font-weight: bold;
  }
  .menu a:active {
    color: #31c5b7;
  }
}

/*menu de escritorio*/
@media screen and (min-width: 1279px) {
  #navbar {
    border-top: #031a03 solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
  }

  .menu {
    display: flex;
    flex-wrap: nowrap;
  }
  .menu a {
    text-decoration: none;
    color: #031a03;
    font-weight: bold;
    margin-right: 2rem;
  }
  .menu a:hover {
    transition: 0.3s;
    color: #31c5b7;
    scale: 1.1;
  }
  .menu a:active {
    color: #065f88;
  }
}
/*fin menu escritorio*/

/*Parte del carrusel*/
#carrusel {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-top: #031a03 solid 1px;
  border-bottom: #031a03 solid 1px;
  /*escondo la barra horizontal*/
  scrollbar-width: none;
}

.diapositiva {
  flex: 0 0 100%; /*para que no se haga pequeño*/
  width: 100%;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  position: relative;
}

.contenido {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 32px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .contenido {
    width: 30%;
  }
}
.contenido .titulo {
  font-weight: bold;
}

.contenido .boton-contacto {
  margin: 0 auto;
}

.texto {
  font-family: "Lexend", "sans-serif", "Comfortaa";
}
.titulo {
  font-size: larger;
}

.diapositiva:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.diapositiva:nth-child(odd) .contenido {
  background-color: #065f88cc;
}
.diapositiva:nth-child(odd) h5 {
  color: #31c5b7;
}
.diapositiva:nth-child(odd) p {
  color: #afe4f3;
}
.diapositiva:nth-child(even) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.diapositiva:nth-child(even) .contenido {
  background-color: #31c5b7cc;
}
.diapositiva:nth-child(even) h5 {
  color: #065f88;
}
.diapositiva:nth-child(even) p {
  color: #fafafa;
}
.diapositiva:nth-child(even) .boton-contacto {
  background-color: #afe4f3;
}

/*botones de navegación del carrusel*/
.anterior,
.siguiente {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #afe4f3;
  cursor: pointer;
}

.anterior:hover,
.siguiente:hover {
  color: #031a03;
  scale: 1.1;
}
/*fin carrusel*/

/*Parte de terapeuta*/
#terapeuta-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

/*para pantallas grandes*/
@media (min-width: 1000px) {
  #terapeuta-home {
    margin: 4rem;
    display: grid;
    grid-template-areas: "imagen titulo" "imagen texto" "imagen cta";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    align-items: center;
  }
  #terapeuta-home .imagen_terapeuta {
    grid-area: imagen;
    width: 100%;
    padding-left: 1rem;
  }
  #terapeuta-home h5 {
    grid-area: titulo;
    color: #31c5b7;
    font-size: large;
    margin-bottom: 0;
    text-align: center;
    align-self: end;
  }
  #terapeuta-home #texto_terapeuta_home {
    grid-area: texto;
    padding: 0 2rem;
  }
  #terapeuta-home button {
    grid-area: cta;
    margin: 0 auto;
    align-self: start;
  }
}
/*fin de parte responsiva para pantallas grandes*/

#terapeuta-home h5 {
  color: #31c5b7;
  font-size: larger;
}

.imagen_terapeuta {
  width: 50%;
  height: auto;
}

#texto_terapeuta_home p {
  text-align: center;
  padding: 1rem;
  font-family: "Lexend", "sans-serif", "Comfortaa";
  color: #065f88;
}

/*fin terapeuta*/

/*Parte de contacto*/
#contactos_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#contactos_home h5 {
  color: #31c5b7;
  font-size: larger;
}

.formas_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
#contactos_home .formas_contacto p,
#contactos_home .formas_contacto a {
  color: #065f88;
}
.telefono {
  text-decoration: none;
  font-weight: bold;
}

.telefono:active {
  color: #afe4f3;
}

#contactos_home button {
  margin-bottom: 1rem;
}

/*oculto el boton del apartado de contacto cuando es una pantalla de movil*/
@media (max-width: 999.5px) {
  /*si ponia 1000 o 999px tenía un comportamiento extraño en el límite*/
  #contactos_home button {
    display: none;
  }
}

#mapa_home {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

#mapa_home iframe {
  width: 100%;
  height: 100%;
}
/*parte de contacto para pantallas grandes*/
@media (min-width: 1000px) {
  #contactos_home {
    margin: 4rem;
    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(2, 1fr);
  }
  #contactos_home h5 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  #contactos_home .formas_contactos {
    grid-column: 1;
    grid-row: 2;
  }
  #contactos_home button {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
  }
  #contactos_home #mapa_home {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
/*fin de parte responsiva para pantallas grandes*/
/*fin contacto*/

/*footer*/
footer {
  background-color: #065f88;
}

footer .encabezado {
  padding-top: 1rem;
}
#logo-nocturno {
  max-width: 80%;
  height: auto;
}

#contacto-footer .formas_contacto p,
#contacto-footer article a {
  color: #31c5b7;
}

footer section {
  margin: 1rem;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.redes a img {
  max-width: 50px;
  height: auto;
}
/*footer para pantallas grandes*/
@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
  }
  footer .encabezado {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  footer #contacto-footer {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
  }
  footer #contacto-footer .formas_contacto .telefono:hover {
    transition: 0.5s;
    color: #afe4f3;
    font-weight: bold;
  }

  footer #contacto-footer .redes a img:hover {
    transition: 0.5s;
    transform: scale(1.5);
  }
}
/*fin de parte responsiva para pantallas grandes*/
/*fin footer*/
