@charset "UTF-8";
/*Primero los estilos que afectan a varias partes de la página*/
* {
  font-family: "Comfortaa", "Lexend", "sans-serif";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

/*media-query para dejar margenes laterales cuando la resolución de pantalla es muy ancha*/
@media screen and (min-width: 1400px) {
  header,
  main,
  #contenedor-footer {
    width: 1400px;
    margin: 0 auto;
  }
  body::after {
    /*posiciono una linea horizontal que ocupe todo el ancho del body y que esté exactamente a la misma altura del border-top del navbar del menú de escritorio. De otra forma se notarían los márgenes añadidos*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #031a03;
    position: absolute;
    top: 135.5px;
  }
  /*Hago lo mismo con el border-botton del navbar del menú de escritorio*/
  body::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #031a03;
    position: absolute;
    top: 187.5px;
  }
}
/*partes específicas del encabezado, recordando que está tanto en el header como en el footer*/
.encabezado {
  margin: 1rem;
}
@media screen and (min-width: 1000px) {
  .encabezado {
    margin: 1rem 2rem;
  }
}
.encabezado .logo .imagen-logo {
  max-width: 100px;
  min-width: 50px;
  height: auto;
}
.encabezado .logo .imagen-logo #logo-diurno,
.encabezado .logo .imagen-logo #logo-nocturno {
  max-width: 100%;
  height: auto;
}
.encabezado .logo .texto-logo {
  color: #31c5b7;
  font-weight: bold;
}
.encabezado .logo .texto-logo p {
  margin: 0;
  padding-bottom: 0.5rem;
}
.encabezado .boton-contacto {
  margin: 0 1rem;
}

/*Aplicable a todos los botones CTA de la página*/
.boton-contacto {
  width: 150;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 1rem 2rem;
  background-color: #afe4f3;
  border-radius: 32px;
  cursor: pointer;
  text-decoration: none;
  color: #031a03;
  font-family: "Lexend";
}
.boton-contacto:active, .boton-contacto:hover {
  transition: 0.2s all;
  transform: scale(1.1);
}
.boton-contacto a {
  text-decoration: none;
  color: #031a03;
  font-family: "Lexend";
}

/*textos y títulos de la página*/
.texto {
  font-family: "Lexend", "sans-serif", "Comfortaa";
}

.titulo {
  font-size: larger;
}

/*Todos lo .titulos azules menos algunos del carrusel*/
section h5,
article h5 {
  color: #065f88;
}

/*Lo ssubtitulos de terapias y psicologa*/
.subtitulo {
  color: #065f88;
  font-size: medium;
}

/*En la página de home, en el main y footer*/
.formas_contacto {
  padding-bottom: 3rem;
}

.telefono {
  text-decoration: none;
  font-weight: bold;
}

.telefono:active {
  color: #afe4f3;
}

/*------------------------------------*/
/*Estilos por partes específicas de las páginas*/
/*Header, común a todas las páginas*/
@media screen and (min-width: 768px) {
  header .encabezado .logo .texto-logo p {
    padding-left: 1rem;
    font-size: x-large;
  }
}
@media screen and (min-width: 1000px) {
  header .encabezado .logo .texto-logo p {
    font-size: xx-large;
  }
}
/*Menú para móvil*/
@media screen and (max-width: 768px) {
  #hamburguesa-navbar {
    position: absolute;
    background-color: #31c5b7;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
  }
  #hamburguesa-navbar span {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para centrar el icono*/
    transition: 0.3s;
  }
  #hamburguesa-navbar span::before {
    content: "";
    position: absolute;
    top: 8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
    top: -8px;
  }
  #hamburguesa-navbar span::after {
    content: "";
    position: absolute;
    top: 8px;
    background-color: #fafafa;
    height: 3px;
    width: 30px;
    transition: 0.3s;
    top: 8px;
  }
  #hamburguesa-navbar.active span {
    background-color: transparent;
  }
  #hamburguesa-navbar.active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  #hamburguesa-navbar.active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #navbar {
    position: absolute;
    transform: translateX(-100%); /*para que no se vea el menu*/
    transition: 0.5s all;
    background-color: #afe4f3;
    z-index: 1;
  }
  #navbar .menu {
    width: 100%;
  }
  #navbar .menu a {
    text-decoration: none;
    color: #065f88;
    display: block;
    padding: 1rem 2rem 1rem 5rem;
    text-align: right;
  }
  #navbar .menu a:active {
    background-color: #31c5b7;
    font-weight: bold;
    color: #fafafa;
  }
  #navbar.active {
    transform: translateX(0); /*para que se vea el menu*/
  }
}
/*Fin menú para móvil*/
/*Menú para tablet*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #navbar {
    border-top: 1px solid #031a03;
    border-bottom: 1px solid #031a03;
  }
  #navbar #nav-terapias {
    border-bottom: #065f88 dashed 1px;
  }
  #navbar .menu {
    padding: 1rem;
  }
  #navbar .menu a {
    text-decoration: none;
    color: #031a03;
    font-weight: bold;
    padding-left: 1rem;
  }
  #navbar .menu a:active {
    color: #31c5b7;
  }
}
/*Fin menú para tablet*/
/*Menú para escritorio*/
@media screen and (min-width: 1279px) {
  #navbar {
    border-top: 1px solid #031a03;
    border-bottom: 1px solid #031a03;
    padding: 1rem 0 1rem 2rem;
  }
  #navbar .menu a {
    text-decoration: none;
    color: #031a03;
    font-weight: bold;
    margin-right: 2rem;
  }
  #navbar .menu a:hover {
    transition: 0.3s;
    color: #31c5b7;
    scale: 1.1;
  }
  #navbar .menu a:active {
    color: #065f88;
  }
}
/*Fin menú escritorio*/
/*Fin header*/
/*Footer, común a todas las páginas*/
footer {
  background-color: #065f88;
}
footer #contenedor-footer .encabezado {
  padding-top: 1rem;
}
footer #contenedor-footer .encabezado .logo .texto-logo {
  padding-left: 1rem;
}
@media screen and (min-width: 1000px) {
  footer #contenedor-footer .encabezado .logo .texto-logo p {
    font-size: x-large;
  }
}
@media screen and (min-width: 1400px) {
  footer #contenedor-footer .encabezado .logo .texto-logo p {
    font-size: xx-large;
  }
}
footer #contenedor-footer #contacto-footer .formas_contacto .calle,
footer #contenedor-footer #contacto-footer .formas_contacto .telefono {
  color: #31c5b7;
}
footer #contenedor-footer #contacto-footer .redes a img {
  max-width: 50px;
  height: auto;
}
@media screen and (min-width: 768px) {
  footer #contenedor-footer #contacto-footer .formas_contacto .telefono:hover {
    transition: 0.5s;
    color: #afe4f3;
    font-weight: bold;
  }
  footer #contenedor-footer #contacto-footer .redes a img:hover {
    transition: 0.5s;
    transform: scale(1.5);
  }
}
footer #contenedor-footer section {
  margin: 1rem;
}

/*fin footer*/
/*Main del HOME*/
/*Para el menú del móvil uso posición absoluta, necesito que el main se desplace y deje un espacio arriba equivalente al espacio de #hamburguesa-navbar*/
@media screen and (max-width: 768px) {
  main {
    padding-top: 50px;
  }
}
/*Carrusel*/
#carrusel-y-botones {
  overflow: hidden;
}
#carrusel-y-botones #carrusel {
  width: 100%;
  height: 60vh;
  transition: transform 0.5s ease-in-out;
}
#carrusel-y-botones #carrusel .diapositiva {
  min-width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  /*Imágenes de fondo*/
  /*modifico cómo se ve el contenido en las diapositivas pares e impares*/
}
@media screen and (max-width: 500px) {
  #carrusel-y-botones #carrusel .diapositiva:nth-child(1) {
    background-image: url("../imagenes/ansiedad-movil.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(2) {
    background-image: url("../imagenes/depresion-movil.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(3) {
    background-image: url("../imagenes/sexual-movil.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(4) {
    background-image: url("../imagenes/pareja-movil.webp");
  }
}
@media screen and (min-width: 500px) {
  #carrusel-y-botones #carrusel .diapositiva:nth-child(1) {
    background-image: url("../imagenes/ansiedad-tablet.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(2) {
    background-image: url("../imagenes/depresion-tablet.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(3) {
    background-image: url("../imagenes/sexual-tablet.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(4) {
    background-image: url("../imagenes/pareja-tablet.webp");
  }
}
@media screen and (min-width: 1000px) {
  #carrusel-y-botones #carrusel .diapositiva:nth-child(1) {
    background-image: url("../imagenes/ansiedad-escritorio.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(2) {
    background-image: url("../imagenes/depresion-escritorio.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(3) {
    background-image: url("../imagenes/sexual-escritorio.webp");
  }
  #carrusel-y-botones #carrusel .diapositiva:nth-child(4) {
    background-image: url("../imagenes/pareja-escritorio.webp");
  }
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(odd) .contenido {
  background-color: #065f88;
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(odd) h5 {
  color: #31c5b7;
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(odd) p {
  color: #afe4f3;
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(even) .contenido {
  background-color: #31c5b7;
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(even) h5 {
  color: #065f88;
}
#carrusel-y-botones #carrusel .diapositiva:nth-child(even) p {
  color: #fafafa;
}
#carrusel-y-botones #carrusel .diapositiva .contenido {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 32px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  #carrusel-y-botones #carrusel .diapositiva .contenido {
    width: 30%;
  }
}
#carrusel-y-botones #carrusel .diapositiva .contenido .titulo {
  font-weight: bold;
}
#carrusel-y-botones #carrusel .diapositiva .contenido .boton-contacto {
  margin: 0 auto;
}
#carrusel-y-botones #botones-navegacion-carrusel {
  position: relative;
  top: -50px;
}
#carrusel-y-botones #botones-navegacion-carrusel .nav-button {
  background-color: #2ab0a3;
  color: #afe4f3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
#carrusel-y-botones #botones-navegacion-carrusel .nav-button:hover {
  background-color: #afe4f3;
  color: #31c5b7;
}

/*Fin parte carrusel*/
/*Parte de terapeuta del home*/
#terapeuta-home {
  margin: 2rem;
  /*para pantallas medianas y grandes*/
}
#terapeuta-home h5 {
  color: #065f88;
  font-size: larger;
}
#terapeuta-home #texto_terapeuta_home p {
  text-align: center;
  padding: 1rem;
  font-family: "Lexend", "sans-serif", "Comfortaa";
  color: #031a03;
}
@media screen and (min-width: 1000px) {
  #terapeuta-home picture {
    padding-left: 1rem;
  }
  #terapeuta-home h5 {
    color: #065f88;
    font-size: large;
    margin-bottom: 0;
    text-align: center;
  }
  #terapeuta-home #texto_terapeuta_home {
    padding: 0 2rem;
  }
  #terapeuta-home .boton-contacto {
    margin: 0 auto;
  }
}

/*fin parte terapeuta del home*/
/*Contacto del home*/
#contactos_home {
  margin: 2rem;
}
#contactos_home h5 {
  color: #065f88;
  font-size: larger;
}
#contactos_home .formas_contacto p,
#contactos_home .formas_contacto a {
  color: #031a03;
}
#contactos_home .boton-contacto {
  margin: 0 auto;
  margin-bottom: 1rem;
  /*oculto el boton del apartado de contacto cuando es una pantalla de movil*/
}
@media screen and (max-width: 1000px) {
  #contactos_home .boton-contacto {
    display: none;
  }
}
#contactos_home #mapa_home {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
#contactos_home #mapa_home iframe {
  width: 100%;
  height: 100%;
}

/*Fin contacto del home*/
/*Fin main HOME*/
/*Main de TERAPIAS*/
#presentacion-terapias {
  margin: 2rem;
  margin-bottom: 3rem;
}
#presentacion-terapias .titulo {
  text-align: center;
}
#presentacion-terapias .texto {
  text-align: justify;
}
#presentacion-terapias ul li {
  font-family: "Lexend";
}
#presentacion-terapias ul li a {
  font-family: "Lexend";
  text-decoration: none;
  font-weight: bold;
  color: #31c5b7;
}
#presentacion-terapias .boton-contacto {
  margin: 0 auto;
}

#total-terapias {
  margin: 2em;
}
#total-terapias .terapia {
  /*Parte responsiva para pantallas medianas y grandes*/
}
#total-terapias .terapia .titulo {
  text-align: center;
  margin-top: 3rem;
}
#total-terapias .terapia .subtitulo {
  text-align: center;
  margin-top: 0;
}
#total-terapias .terapia img {
  max-width: 100%;
  height: auto;
}
#total-terapias .terapia .texto {
  margin: 2rem 0;
}
#total-terapias .terapia .afecciones-relacionadas {
  border-left: #031a03 dotted 1px;
}
#total-terapias .terapia .afecciones-relacionadas p {
  text-align: center;
  font-family: "Lexend";
  padding-top: 1rem;
}
#total-terapias .terapia .boton-contacto {
  margin: 3rem;
}
@media screen and (min-width: 768px) {
  #total-terapias .terapia {
    border: #31c5b7 solid 2px;
    border-radius: 20px;
  }
  #total-terapias .terapia .rotulo .titulo {
    font-size: x-large;
  }
  #total-terapias .terapia img {
    margin: 0 auto;
    max-width: 100%;
  }
  #total-terapias .terapia .parrafo {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  #total-terapias .terapia .caja-afecciones .afecciones-relacionadas {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #total-terapias .terapia .boton-contacto {
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto;
    align-self: start;
  }
}

/*Fin main TERAPIAS*/
/*Main de PSICÓLOGA*/
#valores-psicologa {
  background-color: #31c5b7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*Parte responsiva para pantallas desde 768*/
  /*Fin parte responsiva para pantallas desde 768 hasta 1000px*/
  /*Parte responsiva para pantallas desde 1000px hasta 1400px*/
}
#valores-psicologa .subtitulo {
  font-size: larger;
}
#valores-psicologa .valores-contenedor {
  margin-bottom: 2rem;
}
#valores-psicologa .valores-contenedor .valor {
  padding: 0.5rem;
}
#valores-psicologa .valores-contenedor .valor img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  #valores-psicologa {
    max-width: 768px;
    border-radius: 20px;
    margin: 0 auto;
  }
  #valores-psicologa .subtitulo {
    font-size: large;
  }
  #valores-psicologa .valores-contenedor .valor p {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  #valores-psicologa {
    max-width: 100%;
    height: auto;
  }
  #valores-psicologa .subtitulo {
    font-size: large;
  }
  #valores-psicologa .valores-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #valores-psicologa .valores-contenedor .valor {
    display: flex;
    flex-direction: column;
    border: none;
  }
  #valores-psicologa .valores-contenedor .valor p {
    padding-left: 0;
  }
}

#sesiones {
  margin: 2rem;
  padding-bottom: 2rem;
  /*Parte responsiva a partir de 1000px*/
}
#sesiones #proceso-terapeutico p span {
  font-family: "Lexend";
  font-weight: bold;
  color: #31c5b7;
}
#sesiones #proceso-terapeutico ol {
  margin-bottom: 3rem;
}
#sesiones #proceso-terapeutico ol li {
  font-family: "Lexend";
  padding-bottom: 1rem;
}
#sesiones img {
  border-radius: 30%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  #sesiones img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    align-self: center;
  }
  #sesiones .boton-contacto {
    margin: 0 auto;
  }
}

/*Fin main PSICÓLOGA*/
/*Main de CONTACTO*/
/*primero estas etiquetas que son comunes a varias cajas*/
input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

textarea {
  width: 100%;
  overflow: hidden;
  resize: none; /*Lo voy a hacer con js, así que lo desactivo aquí*/
}

fieldset {
  border: none;
  padding: 1rem;
}

/*parte en arbol*/
#formulario-contacto {
  margin: 2rem;
}
#formulario-contacto #titular-imagen-contacto img {
  max-width: 100px;
}
#formulario-contacto form {
  background-color: #31c5b7;
  padding: 1rem;
  border-radius: 20px;
  /*Parte responsiva para pantallas medianas y grandes*/
}
#formulario-contacto form #primera-parte-formulario #datos-cliente #edad {
  width: 50px;
}
#formulario-contacto form #primera-parte-formulario #forma-contacto-cliente #contacto {
  width: 100%;
}
#formulario-contacto form .boton-contacto {
  width: 120px;
}
@media screen and (min-width: 1000px) {
  #formulario-contacto form {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
  }
  #formulario-contacto form #motivo-consulta textarea {
    height: 300px;
  }
  #formulario-contacto form .boton-contacto {
    margin: 0 auto;
  }
}

/*------------------------------------*/
/*A partir de aquí apareceran las partes que correspondan con flex o grid*/
/*------------------------------------*/
/*Partes que corresponden a elementos que están en varias partes de la página*/
/*el .encabezado es aplicable en header y footer*/
.encabezado {
  display: flex;
  justify-content: space-between;
}
.encabezado .logo {
  display: flex;
  align-items: center;
}

/*Aplica a los CTA de toda la página*/
.boton-contacto {
  display: flex;
  align-self: center;
}

/*En la pagina de home, en el main y footer*/
.formas_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------------------------------------*/
/*Parte del header*/
@media screen and (min-width: 768px) {
  header .encabezado .logo .texto-logo {
    display: flex;
    flex-direction: row;
  }
}
/*Menú para tablet*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
/*Menú para escritorio*/
@media screen and (min-width: 1279px) {
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  #navbar .menu {
    display: flex;
    flex-wrap: nowrap;
  }
}
/*------------------------------------*/
/* Carrusel */
#carrusel {
  display: flex;
}
#carrusel .diapositiva:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#carrusel .diapositiva:nth-child(even) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#botones-navegacion-carrusel {
  display: flex;
  justify-content: space-between;
}

/*Parte de terapeuta del home*/
#terapeuta-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  #terapeuta-home {
    margin: 4rem;
    display: grid;
    grid-template-areas: "imagen titulo" "imagen texto" "imagen cta";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    align-items: center;
  }
  #terapeuta-home picture {
    grid-area: imagen;
  }
  #terapeuta-home h5 {
    grid-area: titulo;
    align-self: end;
  }
  #terapeuta-home #texto_terapeuta_home {
    grid-area: texto;
  }
  #terapeuta-home .boton-contacto {
    grid-area: cta;
    align-self: start;
  }
}
/*Parte de contactos del home, dentro del main*/
#contactos_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*parte de contacto para pantallas grandes*/
}
@media (min-width: 1000px) {
  #contactos_home {
    margin: 4rem;
    display: grid;
    grid-template: 1fr 1fr 1fr/repeat(2, 1fr);
  }
  #contactos_home h5 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  #contactos_home .formas_contactos {
    grid-column: 1;
    grid-row: 2;
  }
  #contactos_home .boton_contacto {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
  }
  #contactos_home #mapa_home {
    grid-column: 2;
    grid-row: 1/span 3;
  }
}

/*Página de terapias*/
.terapia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  /*Parte responsiva para pantallas medianas y grandes*/
}
@media screen and (min-width: 768px) {
  .terapia {
    display: grid;
    grid-template: 1fr 2fr 0.5fr/repeat(2, 1fr);
  }
  .terapia .rotulo {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
  }
  .terapia img {
    grid-column: 1;
    grid-row: 2/3;
  }
  .terapia .parrafo {
    grid-column: 2;
    grid-row: 1;
  }
  .terapia .caja-afecciones {
    grid-column: 2;
    grid-row: 2;
  }
  .terapia .boton-contacto {
    grid-column: 2;
    grid-row: 3;
  }
}

/*Página sobre la psicológa*/
#valores-psicologa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#valores-psicologa .valores-contenedor .valor {
  display: flex;
  align-items: center;
}

#sesiones {
  /*Parte responsiva a partir de 1000px*/
}
@media screen and (max-width: 1000px) {
  #sesiones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  #sesiones {
    display: grid;
    grid-template-areas: "titulo titulo" "parrafo imagen" "boton boton";
    grid-template-columns: 1fr 1fr;
  }
  #sesiones .titulo {
    grid-area: titulo;
    text-align: center;
  }
  #sesiones #proceso-terapeutico {
    grid-area: parrafo;
  }
  #sesiones img {
    grid-area: imagen;
  }
  #sesiones .boton-contacto {
    grid-area: boton;
  }
}

/*Contacto*/
#titular-imagen-contacto {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  /*Parte responsiva para pantallas medianas y grandes*/
}
@media screen and (min-width: 1000px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form #primera-parte-formulario {
    grid-column: 1;
  }
  form #motivo-consulta {
    grid-column: 2;
  }
  form .boton-contacto {
    grid-column: 1/span 2;
  }
}

#datos-cliente {
  display: flex;
  flex-direction: column;
}

/*Footer*/
.redes {
  display: flex;
  justify-content: space-evenly;
}

/*footer para pantallas grandes*/
@media screen and (min-width: 768px) {
  #contenedor-footer {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
  }
  #contenedor-footer .encabezado {
    grid-column: 1/span 3;
    grid-row: 1;
  }
  #contenedor-footer #contacto-footer {
    grid-column: 2;
    grid-row: 1/span 2;
    align-self: center;
  }
}/*# sourceMappingURL=principal.css.map */